# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin/
# Package Files 
*.jar
# ignore project files
.classpath
.project
.settings
transactions.csv
    
# Compiled class file
*.class

# Log file
*.log
